.tooltip-container{
    position: relative;
}

.tooltip{
    display: none;
}

.tooltip-is-visible{
    display: block;
    position: absolute;
    background: #192024;
    color: #fff;
    font-weight: bold;
    padding: 20px;
    border-radius: 5px;
    bottom: calc(100% + 20px);
    left: 7px;
}
.arrow{
    position: absolute;
    top: 61px;
    left: 35px;
    border-width: 10px;
    border-style: solid;
    border-color: #192024 transparent transparent transparent;
}